main {
	width: 50vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #a54946;
	font-size: 20px;
}

h1 {
	margin: 2em 0;
}

li {
	list-style-position: inside;
	margin: 1em 0;
}

.btn {
	border: none;
	background-color: #a54946;
	color: white;
	padding: 0.5em 1em;
	border-radius: 3px;
	margin: 0 1em;
	cursor: pointer;
	font-size: 18px;
}

input {
	border: none;
	border-radius: 3px;
	padding: 0.5em 0.5em;
	color: #a54946;
	font-size: 18px;
}

footer {
	text-align: center;
	margin: 1em;
}

a {
	color: #a54946;
	text-underline-offset: 4px;
	text-decoration-thickness: 1px;
}

@media screen and (max-width: 1000px) {
	main {
		width: 80vw;
	}
}
