#counter {
	border: solid 2px #a54946;
	border-radius: 10px;
	margin: 1em 0 5em 0;
}

#increment-btn {
	margin: 0;
	border-radius: 0 10px 10px 0;
	font-size: inherit;
}

#decrement-btn {
	margin: 0;
	background-color: white;
	color: #a54946;
	border-radius: 10px 0 0 10px;
	font-size: inherit;
}

#counter-val {
	background-color: #f8e9e9;
	border-left: solid 2px #a54946;
	border-right: solid 2px #a54946;
	border-radius: 0;
	font-size: inherit;
	text-align: center;
}

@media screen and (max-width: 500px) {
	#counter-val {
		width: 48vw;
	}
}
